[submodule ".config/kak/plugins/kakoune-extra-filetypes"]
	path = .config/kak/plugins/kakoune-extra-filetypes
	url = https://github.com/kakoune-editor/kakoune-extra-filetypes.git
	update = merge
[submodule ".config/kak/plugins/kakoune-find"]
	path = .config/kak/plugins/kakoune-find
	url = https://github.com/occivink/kakoune-find.git
	update = merge
[submodule ".config/kak/plugins/number-toggle.kak"]
	path = .config/kak/plugins/number-toggle.kak
	url = https://github.com/evanrelf/number-toggle.kak.git
	update = merge
[submodule ".config/kak/plugins/kakoune-shellcheck"]
	path = .config/kak/plugins/kakoune-shellcheck
	url = https://gitlab.com/Screwtapello/kakoune-shellcheck.git
	update = merge
[submodule ".config/kak/plugins/kakoune-state-save"]
	path = .config/kak/plugins/kakoune-state-save
	url = https://gitlab.com/Screwtapello/kakoune-state-save.git
	update = merge
[submodule ".config/kak/plugins/kakoune-sudo-write"]
	path = .config/kak/plugins/kakoune-sudo-write
	url = https://github.com/occivink/kakoune-sudo-write.git
	update = merge
[submodule ".config/kak/plugins/kakoune-text-objects"]
	path = .config/kak/plugins/kakoune-text-objects
	url = https://github.com/Delapouite/kakoune-text-objects.git
	update = merge
[submodule ".config/kak/plugins/kakoune-vertical-selection"]
	path = .config/kak/plugins/kakoune-vertical-selection
	url = https://github.com/occivink/kakoune-vertical-selection.git
	update = merge
[submodule ".config/kak/plugins/todo.kak"]
	path = .config/kak/plugins/todo.kak
	url = https://github.com/kkga/todo.kak.git
	update = merge
[submodule ".config/kak/plugins/ui.kak"]
	path = .config/kak/plugins/ui.kak
	url = https://github.com/kkga/ui.kak.git
	update = merge
[submodule ".config/kak/plugins/scrollbar.kak"]
	path = .config/kak/plugins/scrollbar.kak
	url = https://github.com/sawdust-and-diamonds/scrollbar.kak.git
	update = merge
[submodule ".config/kak/plugins/kakoune-table"]
	path = .config/kak/plugins/kakoune-table
	url = https://gitlab.com/listentolist/kakoune-table.git
	update = merge
[submodule ".config/kak/plugins/active-window.kak"]
	path = .config/kak/plugins/active-window.kak
	url = https://github.com/greenfork/active-window.kak.git
	update = merge
[submodule ".hammerspoon/stackline"]
	path = .hammerspoon/stackline
	url = https://github.com/AdamWagner/stackline.git
	update = merge
[submodule ".config/mpv/scripts/mpv-playlist-navigator"]
	path = .config/mpv/scripts/.config/mpv/scripts/mpv-playlist-navigator
	url = https://github.com/drogers141/mpv-playlist-navigator.git
	update = merge
[submodule ".config/kak/plugins/auto-pairs.kak"]
	path = .config/kak/plugins/auto-pairs.kak
	url = https://github.com/alexherbo2/auto-pairs.kak.git
	update = merge
[submodule ".config/kak/plugins/surround.kak"]
	path = .config/kak/plugins/surround.kak
	url = https://github.com/alexherbo2/surround.kak.git
	update = merge
[submodule ".config/kak/plugins/select.kak"]
	path = .config/kak/plugins/select.kak
	url = https://github.com/alexherbo2/select.kak.git
	update = merge
[submodule ".config/kak/plugins/indent.kak"]
	path = .config/kak/plugins/indent.kak
	url = https://github.com/alexherbo2/indent.kak.git
	update = merge
[submodule ".config/kak/plugins/tiny.kak"]
	path = .config/kak/plugins/tiny.kak
	url = https://github.com/alexherbo2/tiny.kak.git
	update = merge
[submodule ".config/kak/plugins/shortcuts.kak"]
	path = .config/kak/plugins/shortcuts.kak
	url = https://github.com/alexherbo2/shortcuts.kak.git
	update = merge
[submodule ".config/kak/plugins/window.kak"]
	path = .config/kak/plugins/window.kak
	url = https://github.com/alexherbo2/window.kak.git
	update = merge
[submodule ".config/kak/plugins/show-whitespaces.kak"]
	path = .config/kak/plugins/show-whitespaces.kak
	url = https://github.com/alexherbo2/show-whitespaces.kak
	update = merge
[submodule ".config/kak/plugins/mark.kak"]
	path = .config/kak/plugins/mark.kak
	url = https://github.com/alexherbo2/mark.kak
	update = merge
