[core]
	excludesfile = ~/.gitignore_global
	pager = delta
	editor = kak
[commit]
	template = ~/.stCommitMsg
	gpgsign = true
[tag]
	forceSignAnnotated = true
[include]
	path = .gitconfig.local
[init]
	defaultBranch = main
[merge]
	conflictstyle = diff3
	tool = kakmerge
[mergetool "kakmerge"]
	trustExitCode = true
	cmd = env LOCAL=\"${LOCAL}\" BASE=\"${BASE}\" REMOTE=\"${REMOTE}\" MERGED=\"${MERGED}\" ~/git/kakmerge/kakmerge
[delta]
	; hyperlinks = true
	navigation = true
	side-by-side = true
	decorations = true
	whitespace-error-style = 22 reverse
[diff]
	colorMoved = default
[interactive]
	diffFilter = delta --color-only
[pull]
	rebase = false
